# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [4]:
# Welcome to DAC!
# Single-line comments use the hash symbol (#)
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes.
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [5]:
# Now try printing your name!
print('inbha')

inbha

## Basic Arithmetic Operations and Data Types

In [6]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8 + 3)

# Subtraction -
print(8 - 3)

# Multiplication *
print(8 * 3)

# Division /
print(8 / 3)

# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)

# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [7]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow ")
print('meow meow')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32) # This computes 2 to the power of 32

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

!@#$%jkwewuorweprh6546846515648646546

## Boolean
*   Booleans represent one of two values: True or False.

In [8]:
a = 5
b = 10 % 3  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
c = bool(a == b)  # bool() converts the result of the comparison to True or False
print(c)  # This will print False since 5 is not equal to 1

In [9]:
# Equals ==
print(5==5)
print(5==4)

# Inqual !=
print(5!= 6)

# More than >
print(5>4)

# More than and equal to >=
print(6 >= 4)

# Less than <
print(6 < 4)

# Less than and equal to <=
print(6 <= 4)

In [10]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a = True # A Boolean value can be either True or False.
print(type(a))  # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("I love dac"))  # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(4))  # This will return <class 'int'>, indicating it's an integer.

## Converting Data types

In [11]:
# Convert a float to an integer
print(int(6.555555))  # Output: 6

# Convert an integer to a float
print(float(3))  # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(6)))  # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(5))  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value = 3.1423  # Use descriptive names for clarity
print(decimal_value)

number = 5  # Keep the variable name clear and relevant
print(number)

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [3]:
# Creating strings
name = "inbha"
print(name)

# Combining strings
last_name = "h"
print("Full Name: " + name + " " + last_name)  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".

# Alternative Method for String Formatting
print("Full Name: {0} {1}".format(name, last_name))  # The numbers {0} and {1} correspond to the respective order of the variables: inbha = 0, h = 1.

inbha
Full Name: inbha h
Full Name: inbha h

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [24]:
list1 = [] # Empty list
print(list1)

list2 = ["S", "L", "A", "Y"]
print(list2)

mixedlist = [True, "Slay", 173, 3.14] # List with different data types
print(mixedlist)

[]
['S', 'L', 'A', 'Y']
[True, 'Slay', 173, 3.14]

In [25]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yayy")
print(list1)

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

mixedlist.append("yay")  # Adding a string to the mixed list
print(mixedlist)  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yayy']
[True, 'Slay', 173, 3.14, 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [26]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0,50)
print(list1)

  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 1, 'yayy']

In [27]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0] # Deletes the element at index 0 (1st element in the list)
print(list1) # Output: List with the 1st element removed

[1, 'yayy']

In [28]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("yayy") # Removes the first occurrence of the value 50 from the list
print(list1) # Output: List without the first 50

[1]

In [3]:
# List Indexing
list4=[3,1,4,1,5]
index_list4=list4.index(3) # Finds the index position of the element '3' in the list
print(index_list4) # Output: 0 (since '3' is at the 0th index)

0

In [5]:
# Finding minimum and maximum values in a list
min_list4 = min(list4) # Use the min() function to find the smallest element in list4
max_list4 = max(list4) # Use the max() function to find the largest element in list4
print(min_list4)
print(max_list4)



# With labels
print("minimum value ", min_list4 ) # Output the minimum value
print("maximum value:", max_list4)  # Output the maximum value

1
5
minimum value  1
maximum value: 5

In [6]:

listNum = [4,2,1,3,4,6,5,9]
sorted_list_numlist =sorted(listNum)
print(sorted_list_numlist)
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 4, 5, 6, 9]

In [8]:
listnum2 = [5,7,8,3,2,1,6,7,9]
listnum2.reverse() # Reverse listNum2
print(listnum2)# Otput the reversed list

[9, 7, 6, 1, 2, 3, 8, 7, 5]

In [9]:
listnum2 = [5,7,8,3,2,1,6,7,9]
listnum2.clear() 
print(listnum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [10]:
list5 = ["m","a","y"]
list6 = ["a",6]
listAdded = list5 + list6 
print(listAdded)

 # Add the two lists together
 # Output the added list

['m', 'a', 'y', 'a', 6]

In [11]:
listnames = ["inbha","h"]
listmultiplied = listnames *2 
print(listmultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['inbha', 'h', 'inbha', 'h']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [12]:

 # Check the type of the 'parents' variable
dance =("jazz",'tap')
type(dance)

tuple

In [13]:
tuplelist = list(dance)
print(tuplelist)
type(tuplelist)
 # Output the list
 # Check the type of 'tuplelist'

['jazz', 'tap']

list

In [23]:
tuplelist.append("ballet,Hip Hope, Salsa")
print(tuplelist)
 # Add new line to the list 'tuplelist'
 # Output the updated list

['jazz', 'tap', 'ballet', 'ballet,Hip Hope, Salsa']

In [21]:
 # Convert the list 'tuplelist' back to a tuple
tuplelist.append("ballet")

 # Check the value of the new tuple
new_tuple = tuple(tuplelist)
print(new_tuple)

('jazz', 'tap', 'ballet')

In [22]:
 # Get the length of the list 'tuplelist'
length_of_tuplelist = len(tuplelist)
print(length_of_tuplelist)
 # Output of the length

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [29]:

 # Output of the set
x={"dog","cat","wolf"}
print(x)

{'dog', 'cat', 'wolf'}

In [30]:
 # Add an element to the set
 # Output of the updated set

x.add("fish")
print(x)

{'dog', 'cat', 'wolf', 'fish'}

In [31]:
 # Remove an element from the set
x.remove('cat')
print(x)
 # Output of the updated set

{'dog', 'wolf', 'fish'}

In [33]:
z = {(1,2,3),"Hello",2,4.3}

print(z) # Output of the set

{2, (1, 2, 3), 4.3, 'Hello'}

In [35]:

 # Output of the original list
r = [1,2,3,4,5,7,4]
print(r)


 # Convert the list to a set (to remove duplicates)
 # Output of the converted set
r_set = set(r)
print(r_set)


 # Check the data type of r_set
 # Output of the converted set
type_of_r_set = type(r_set)
print(type_of_r_set)

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>